{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" type="text/css" rel="stylesheet" />
    <link href="bundles/bangpoundcastlesearch/css/style.css" type="text/css" rel="stylesheet" />
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        var castle = {
            typeNames: {{ castle_type_names | json_encode | raw }}
        };
    </script>
{% endblock %}

{% block body %}
    <div ng-app="castleSearch">
        <div{{ block('body_controller') }}>
            {% block navbar %}{% endblock %}
            <div class="container">
                {% block header %}{% endblock %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {% block footer %}{% endblock %}
{% endblock %}
