parameters:
    rshief_kal3a.command.copy_trends.class: Rshief\Bundle\Kal3aBundle\Command\CopyTrendsCommand
    rshief_kal3a.command.calculate_trends.class: Rshief\Bundle\Kal3aBundle\Command\CalculateTrendsCommand
    rshief_kal3a.controller.tag_statistics.class: Rshief\Bundle\Kal3aBundle\Controller\StatisticController
    rshief_kal3a.listener.default_response_header.class: Rshief\Bundle\Kal3aBundle\EventListener\DefaultResponseHeaderListener

services:
    rshief_kal3a.command.copy_trends:
        class: %rshief_kal3a.command.copy_trends.class%
        tags:
            -  { name: console.command }

    rshief_kal3a.command.calculate_trends:
        class: %rshief_kal3a.command.calculate_trends.class%
        tags:
            -  { name: console.command }

    rshief_kal3a.controller.tag_statistics:
        class: %rshief_kal3a.controller.tag_statistics.class%

    rshief_kal3a.listener.default_response_header:
        class: %rshief_kal3a.listener.default_response_header.class%
        tags:
            - { name: kernel.event_listener, event: kernel.response, method: onKernelResponse }
