{% extends 'base.html.twig' %}

{% block body %}
    <h1>kal3a</h1>
    <ul>
        <li>
            <a href="{{ url('nelmio_api_doc_index') }}">API Docs</a>
        </li>
        <li>
            <a href="{{ url('easyadmin') }}">Admin</a>
        </li>
        <li>
            <a href="{{ url('liip_monitor_health_interface') }}">Monitor</a>
        </li>
    </ul>
{% endblock %}

{% block stylesheets %}
{% endblock %}
