# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     kal3a
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    superfeedr_user: user
    superfeedr_password: password

    twitter_consumer_key: ~
    twitter_consumer_secret: ~
    twitter_access_token: ~
    twitter_access_token_secret: ~

    rabbitmq_host: localhost
    rabbitmq_user: guest
    rabbitmq_pass: guest
    rabbitmq_port: 5672
    rabbitmq_vhost: /

    couchdb_host: localhost
    couchdb_port: 5984
    couchdb_name: kal3a
    couchdb_user: ~
    couchdb_password: ~

    elasticsearch_host: localhost
    elasticsearch_port: 9200
    elasticsearch_index_name: kal3a

    aws_region: ~
    aws_access_key_id: ~
    aws_secret_access_key: ~

    aws_endpoint_map: ~
    kal3a_web_url: http://localhost:8000/api/
