<div id="search-help" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i style="color:#fff;font-size:14px;" class="icon-remove"></i></button>
                <h4>Search Help</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li><strong>Share</strong> or <strong>save</strong> the current search by clicking the share/save arrow button on the right.</li>
                    <li><strong>Partial matches with wildcard</strong> can be performed by using the asterisk <strong>*</strong> wildcard. For example, <strong>einste*</strong>, <strong>*nstei*</strong>.</li>
                    <li><strong>Fuzzy matches</strong> can be performed using tilde <strong>~</strong>. For example, <strong>einsten~</strong> may help find <strong>einstein</strong>.</li>
                    <li><strong>Exact matches</strong> can be performed with <strong>"</strong> double quotes. For example <strong>"einstein"</strong> or <strong>"albert einstein"</strong>.</li>
                    <li>Match all search terms by concatenating them with <strong>AND</strong>. For example <strong>albert AND einstein</strong>.</li>
                    <li>Match any term by concatenating them with <strong>OR</strong>. For example <strong>albert OR einstein</strong>.</li>
                    <li><strong>Combinations</strong> will work too, like <strong>albert OR einste~</strong>, or <strong>"albert" "einstein"</strong>.</li>
                    <li><strong>Result set size</strong> can be altered by clicking on the result size number preceding the search box above.</li>
                    <li>By default, terms are searched for across entire record entries. This can be restricted to particular fields by selecting the field of interest from the <strong>search field</strong> dropdown</li>

                </ul>
            </div>
        </div>
    </div>
</div>
