{% extends "@BangpoundCastleSearch/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    "vendor/underscore/underscore.js"
    "vendor/underscore.string/dist/underscore.string.min.js"
    "vendor/moment/moment.js"
    "vendor/regression-js/src/regression.js"
    "vendor/angular/angular.js"
    "vendor/angular-sanitize/angular-sanitize.js"
    "vendor/angular-resource/angular-resource.js"
    "vendor/angular-bootstrap/ui-bootstrap-tpls.js"
    "vendor/elasticsearch/elasticsearch.angular.js"
    "vendor/elastic.js/dist/elastic.js"
    "vendor/d3/d3.js"
    "vendor/n3-charts.line-chart/dist/line-chart.js"
    "vendor/CornerCouch/angular-cornercouch.js"
    "@BangpoundCastleSearchBundle/Resources/public/js/app.js"
    "@BangpoundCastleSearchBundle/Resources/public/js/controllers.js"
    "@BangpoundCastleSearchBundle/Resources/public/js/components.js"
    "@BangpoundCastleSearchBundle/Resources/public/js/filters.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body_controller %} ng-controller="TagsTypeahead" ng-cloak{% endblock %}

{% block header %}
    <h1 class="page-header">Enter a hashtag</h1>
    <input type="text" ng-model="tag" typeahead-on-select="getData()" typeahead-min-length="3" typeahead-wait-ms="100" typeahead-editable="false" placeholder="Enter a hashtag" typeahead="address for address in getTags($viewValue) | filter:$viewValue" class="form-control input-lg">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
{% endblock %}

{% block content %}
    <div class="clearfix">
        <linechart data="data" options="options" mode=""></linechart>
    </div>
{% endblock %}
