{% extends 'BangpoundCastleSearchBundle:Block:block_view.html.twig' %}

{% block block_body %}
    <table class="table table-condensed">
    {% for grouping,values in results %}
        {% for key,value in values %}
            <tr>
                <th>{{ grouping }}</th>
                <td>{{ key }}</td>
                <td class="text-right">{{ value|number_format }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    </table>
{% endblock %}
