@import "bootstrap-theme";
@import "bootstrap";
@import "compass";
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500);

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

[dir=rtl] {
    text-align: right;
}

[dir=rtl] .badge {
    float: left;
}

body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    font-weight: 300;
    padding: 124px 0 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 300;
}

a:hover {
    cursor: pointer;
}

/*******************************
	R-Shief Mods
*******************************/

header.rshief-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0e7171 url('../images/patternme.png');
    z-index: 9000;
    height: 45px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    font-family: 'Maven Pro', sans-serif;
}

header.rshief-header .main-nav {
    margin-bottom: 0;
    padding-right: 0;

}
header.rshief-header .main-nav .navbar-toggle {
    border: none;
    color: #fff;
    box-shadow: none;
    outline: none;
    padding-top: 12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    top: 0;
}
header.rshief-header .main-nav .navbar-toggle:hover {
    background: none;
}
header.rshief-header .main-nav .navbar-brand {
    border-right: 1px solid #084444;
    margin-right: 0;
    min-height: 45px;
    margin-left: 5px;
    padding: 10px 30px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
@media screen and (max-width: 400px) {
    header.rshief-header .main-nav .navbar-brand {
        border-right: none;
    }
}
header.rshief-header .main-nav .navbar-brand img {
    width: 22px;
}

header.rshief-header .main-nav .navbar-nav {
    border-left: 1px solid #149e9e;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

header.rshief-header .main-nav .navbar-nav li > a {
    color: #ffffff;
    line-height: 45px;
    font-size: 12px;
    padding: 0 15px 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

header.rshief-header .main-nav .navbar-nav li > a:hover {
    color: #ffffff;
    background: #084444 url('../images/patternme.png');
}

header.rshief-header .main-nav .navbar-nav li > a:hover .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
header.rshief-header .main-nav .navbar-nav li > a:hover .caret:hover,
header.rshief-header .main-nav .navbar-nav li > a:hover .caret:focus {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

header.rshief-header .main-nav .navbar-nav li.open > a {
    background: #084444 url('../images/patternme.png');
}

header.rshief-header .main-nav .navbar-nav li.current_page_item a,
header.rshief-header .main-nav .navbar-nav li.current-menu-item a {
    color: #ffffff;
    background: #084444 url('../images/patternme.png');
}

header.rshief-header .main-nav .navbar-nav li.current_page_item a:hover,
header.rshief-header .main-nav .navbar-nav li.current_page_item a:focus,
header.rshief-header .main-nav .navbar-nav li.current-menu-item a:hover,
header.rshief-header .main-nav .navbar-nav li.current-menu-item a:focus {
    color: #ffffff;
    background: #084444 url('../images/patternme.png');
}

header.rshief-header .main-nav .navbar-nav li.active > a {
    background: #084444 url('../images/patternme.png');
}
header.rshief-header .main-nav .navbar-nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
header.rshief-header .main-nav .navbar-nav .dropdown-menu {
    padding: 0;
}
header.rshief-header .main-nav .navbar-nav .dropdown-menu li.current-menu-item a {
    background: #fff;
    color: #888;
}
header.rshief-header .main-nav .navbar-nav .dropdown-menu li.current-menu-item a:hover {
    background: #f4f4f8;
}
header.rshief-header .main-nav .navbar-nav .dropdown-menu li a {
    color: #888;
    background: #fff;
}
header.rshief-header .main-nav .navbar-nav .dropdown-menu li a:hover {
    background: $body-bg;
}
header.rshief-header .main-nav .navbar-nav.social-nav {
    border-left: 0;
}
header.rshief-header .main-nav .navbar-nav.social-nav li a {
    padding: 0 15px 0;
}
header.rshief-header .main-nav .navbar-nav.social-nav li a i {
    font-size: 13px;
}
header.rshief-header .main-nav .navbar-nav.social-nav li:last-child a {
    padding-right: 30px;
}
header.rshief-header .main-nav .navbar-nav.social-nav li.account {
    line-height: 45px;
    color: #c3c3c8;
    font-size: 12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
header.rshief-header .main-nav .navbar-nav.social-nav li.account:hover {
    background: none;
}
header.rshief-header .main-nav .navbar-nav.social-nav li.account a {
    display: inline;
    color: $body-bg;
    padding-left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
header.rshief-header .main-nav .navbar-nav.social-nav li.account a:hover {
    background: none;
    color: #fff;
}
header.rshief-header .main-nav .navbar-nav.social-nav li.account a i {
    margin-left: 3px;
}
header.rshief-header .main-nav .navbar-nav.social-nav li.divider-vertical {
    height: 45px;
    margin: 0;
    border-right: 1px solid #149e9e;
    border-left: 1px solid #084444;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
header.rshief-header.rshief-header-shrink {
    height: 30px;
}
header.rshief-header.rshief-header-shrink .main-nav .navbar-toggle {
    padding-top: 5px;
}
header.rshief-header.rshief-header-shrink .main-nav .navbar-brand {
    min-height: 30px;
    padding: 4px 30px;
}
header.rshief-header.rshief-header-shrink .main-nav .navbar-brand img {
    width: 22px;
}
header.rshief-header.rshief-header-shrink .main-nav .navbar-nav li > a {
    line-height: 30px;
    padding: 0 15px 0;
}
header.rshief-header.rshief-header-shrink .main-nav .navbar-nav li.dropdown a:hover .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
header.rshief-header.rshief-header-shrink .main-nav .navbar-nav li.dropdown a:hover .caret:hover,
header.rshief-header.rshief-header-shrink .main-nav .navbar-nav li.dropdown a:hover .caret:focus {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
header.rshief-header.rshief-header-shrink .main-nav .navbar-nav li.account {
    line-height: 30px;
}
header.rshief-header.rshief-header-shrink .main-nav .navbar-nav.social-nav {
    border-left: 0;
}
header.rshief-header.rshief-header-shrink .main-nav .navbar-nav.social-nav li.divider-vertical {
    height: 30px;
}

.navbar-nav.social-nav li a {
    padding: 0 15px 0;
}

.navbar-nav.social-nav li a i {
    font-size: 13px;
}

.navbar-nav.social-nav li:last-child a {
    padding-right: 30px;
}

.navbar-nav.social-nav li.account {
    line-height: 45px;
    color: #c4c4c8;
    font-size: 12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-nav.social-nav li.account:hover {
    background: none;
}

.navbar-nav.social-nav li.account a {
    display: inline;
    color: $body-bg;
    padding-left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-nav.social-nav li.account a:hover {
    background: none;
    color: #fff;
}

.navbar-nav.social-nav li.account a i {
    margin-left: 3px;
}

.navbar-nav.social-nav li.divider-vertical {
    height: 45px;
    margin: 0;
    border-right: 1px solid #149e9e;
    border-left: 1px solid #084444;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* ON SMUSH */
header.rshief-header.rshief-header-shrink {
    height: 30px;
}

header.rshief-header.rshief-header-shrink .main-nav .navbar-brand {
    min-height: 30px;
    padding: 3px 30px;
}

header.rshief-header.rshief-header-shrink .main-nav .navbar-brand img {
    width: 22px;
}

header.rshief-header.rshief-header-shrink .main-nav .navbar-nav li > a {
    line-height: 30px;
    padding: 0 15px 0;
}

header.rshief-header.rshief-header-shrink .main-nav .navbar-nav li.dropdown {

}

header.rshief-header.rshief-header-shrink .main-nav .navbar-nav li.account {
    line-height: 30px;
}

header.rshief-header.rshief-header-shrink .main-nav .navbar-nav.social-nav {
    border-left: 0;
}

header.rshief-header.rshief-header-shrink .main-nav .navbar-nav.social-nav li.divider-vertical {
    height: 30px;
}

section#pagetop {
    background: $body-bg;
}

section#pagetop h1 {
    padding-bottom: 5px;
    margin-top: 25px;
    font-family: 'Maven Pro', sans-serif;
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 300;
    color: #999999;
}

section#pagemain {
    background: #fff;
    padding-top: 15px;
}

.notify_loading {

}

.media.well {
    background-color: none;
    background-image: none;
    background: #f4f4f8;
    border: 1px solid $body-bg;
}

.global-search {
    background: #fff;
    height: 80px;
    position: fixed;
    top: -45px;
    width: 100%;
    z-index: 98;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-bottom: 3px solid $body-bg;
}

.global-search .search-logo {
    margin-left: 15px;
    padding: 15px 15px 20px;
    padding-right: 25px;
    min-height: 66px;
    float: left;
}

.global-search .search-logo img {
    width: 130px;
}

.global-search .form-inline {
    float: left;
    padding: 20px 15px;
}

.global-search .form-inline input[type="search"] {
    width: 500px;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    border: 1px solid $body-bg;
    background: #f4f4f8;
    height: 40px;
    font-size: 13px;
    padding: 10px;
}

.global-search .form-inline input[type="search"]:focus {
    outline: none;
    box-shadow: 0;
    border: 1px solid #13abab;
}

.global-search .form-inline button[type="submit"] {
    vertical-align: bottom;
    background: $body-bg;
    color: #888;
    border: none;
    height: 40px;
    padding: 0 20px;
    outline: none;
}

.global-search .form-inline button[type="submit"]:hover {
    color: #13abab;
}

.global-search .form-inline select {
    border-radius: 0;
    background: $body-bg;
    font-size: 13px;
    padding: 8px 15px;
    color: #888;
    border: none;
    border-right: 2px solid #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

.global-search .form-inline select:hover {
    color: #13abab;
    text-decoration: none;
    cursor: pointer;
}

.global-search .search-info {
    padding: 12px 15px;
    color: #888;
}

.global-search .search-info:hover {
    text-decoration: none;
    color: #13abab;
    cursor: pointer;
}

.global-search .search-variables {
    display: inline;
    vertical-align: middle;
}

.global-search .search-variables a {
    background: $body-bg;
    font-size: 13px;
    padding: 12px 15px;
    color: #888;
    border-right: 2px solid #fff;
}

.global-search .search-variables a:hover {
    color: #13abab;
    text-decoration: none;
    cursor: pointer;

}

.global-search.active {
    top: 45px;
}

footer.global {
    background: $body-bg;
    padding: 25px 0;
}

.widget .sectiontitle {
    font-size: 15px;
    color: #13abab;
    padding: 5px 0 10px;
    border-bottom: 1px solid #c4c4c8;
}

i {
    font-style: normal;
}

.sectiontitle {
    border-bottom: 1px solid #d6d6d6;
}

.widget ul {
    padding: 0;
    margin: 0;
}

.widget ul li {
    list-style: none;
    padding: 5px 0;
    font-size: 12px;
}

.widget ul li .post-date {
    display: block;
    font-size: 12px;
    color: #999;
}

.widget ul li a {
    color: #666;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.widget ul li a:hover {
    color: #333;
    text-decoration: none;
}

.widget.social ul li {
    display: inline;
    margin-right: 10px;
    font-size: 15px;
}

section.callout {
    background: #b5b5bb;

}

section.callout p {
    text-align: center;
    color: #555;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    padding: 30px 0;

}

section.copyright {
    background: #111;

}

section.copyright p {
    text-align: center;
    color: #777777;
    font-size: 12px;
    padding: 10px 0;
    margin: 0;
}

.response#mce-success-response {
    font-size: 12px;
    color: #999999;
    line-height: 18px;
    margin-top: 15px;
}

.mc-field-group input[type="email"] {
    border-radius: 0;
    color: #999999;
    font-size: 12px;
}

.mc-field-group button.btn-default {
    border-radius: 0;
    color: $body-bg;
    background: #474949;
    border-color: #474949;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
}

/** Search Help Modal **/
#search-help {
    z-index: 10000;
}

#search-help .modal-content {
    border-radius: 0;
}

#search-help .modal-header {
    background: #333;
    color: #13abab;
    border-radius: 0;

}

#search-help .modal-header h4 {
    font-size: 22px;
    font-family: 'Maven Pro', sans-serif;
}

#search-help .modal-body {
    padding: 15px 0;
}

#search-help ul {
    padding: 0;
    margin: 0;
}

#search-help ul li {
    list-style: none;
    padding: 10px 20px;
    color: #666;
}

#search-help ul li strong {
    color: #222;
}

#search-help li:nth-child(even) {
    background: #f4f4f8;
}
