parameters:
    bangpound_twitter_streaming.db.table_prefix: twitter_streaming__
    bangpound_twitter_streaming.consumer.notification.class: Bangpound\Bundle\TwitterStreamingBundle\Consumer\PhirehoseConsumer
    bangpound_twitter_streaming.consumer.notification.max_unit_of_work_size: 100
    bangpound_twitter_streaming.stream.class: Bangpound\Bundle\TwitterStreamingBundle\Stream\DoctrineStream
    bangpound_twitter_streaming.stream.notify.class: Bangpound\Bundle\TwitterStreamingBundle\Subscriber\StreamNotifySubscriber
    bangpound_twitter_streaming.stream.logger.class: Bangpound\Bundle\TwitterStreamingBundle\Subscriber\StreamLoggerSubscriber
    bangpound_twitter_streaming.persistent_atom_entry.class: Bangpound\Bundle\TwitterStreamingBundle\CouchDocument\AtomEntry
    bangpound_twitter_streaming.stream.notify.type: 'twitter_data.tweet'
    bangpound_twitter_streaming.listener.flush.class: Bangpound\Bundle\TwitterStreamingBundle\EventListener\FlushEntityManagerListener

services:
    bangpound_twitter_streaming.tblprefix_subscriber:
        class: Bangpound\Bundle\TwitterStreamingBundle\Subscriber\TablePrefixSubscriber
        arguments: [%bangpound_twitter_streaming.db.table_prefix%]
        tags:
            - { name: doctrine.event_subscriber }

    bangpound_twitter_streaming.stream:
        class: %bangpound_twitter_streaming.stream.class%
        arguments:
            - %bangpound_phirehose.oauth_token%
            - %bangpound_phirehose.oauth_secret%
            - 'filter'
            - 'json'
        calls:
            - [setContainer, ["@service_container"]]
        properties:
            consumerKey: %bangpound_phirehose.twitter_consumer_key%
            consumerSecret: %bangpound_phirehose.twitter_consumer_secret%

    bangpound_twitter_streaming.consumer.notification:
        class: %bangpound_twitter_streaming.consumer.notification.class%
        arguments: [ "@doctrine_couchdb.odm.document_manager", "@jms_serializer", %bangpound_twitter_streaming.persistent_atom_entry.class% ]
        calls:
            - [ setLogger, [ "@logger" ] ]

    bangpound_twitter_streaming.stream.notify:
        class: %bangpound_twitter_streaming.stream.notify.class%
        arguments: [ "@old_sound_rabbit_mq.twitter_producer", %bangpound_twitter_streaming.stream.notify.type% ]
        tags:
            - { name: bangpound_phirehose.event_subscriber }

    bangpound_twitter_streaming.stream.logger:
        class: %bangpound_twitter_streaming.stream.logger.class%
        arguments: [ "@logger", "@database_connection" ]
        tags:
            - { name: bangpound_phirehose.event_subscriber }
            - { name: monolog.logger, channel: twitter_data }

    bangpound_twitter_streaming.listener.flush:
        class: %bangpound_twitter_streaming.listener.flush.class%
        arguments: [ "@doctrine_couchdb.odm.document_manager", 'twitter' ]
        tags:
            - { name: kernel.event_listener, event: console.terminate, method: onConsoleTerminate }
